@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shantell+Sans:wght@800&display=swap");

.nav {
  position: fixed;
  height: 66px;
  width: 100%;
  top: 0;
  z-index: 200;
  box-shadow: 0 10px 10px -10px #00000040;
  background-color: #fff;

  .nav-content {
    position: relative;
    max-width: 1130px;
    padding: 0 20px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;

      .user-login-content {

        .nav-items {
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 10px;
          }

          .nav-item {
            padding: 10px 12px;
            border-radius: 8px;
            font-weight: 500;
            display: none;

            &.search {
              border: 1px solid rgb(38, 148, 238);
              color: rgb(38, 148, 238);
            }

            &.publish {
              border: 1px solid rgb(38, 148, 238);
              background-color: rgb(38, 148, 238);
              color: #fff;
            }
          }

          mat-icon {
            font-size: 30px;
          }
        }
      }

    .logo-content, .logo-content > * {
      cursor: pointer;
      font-size: 34px;
      font-family: "Shantell Sans", cursive;
      color: #054652;
    }
  }
}


@media screen and (min-width: 768px) {


  .nav {
    .nav-content {
      .user-login-content {
        .nav-items {
          .nav-item {
            display: block;
          }

          &.publish {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .nav-items {

    &.publish {
      margin-right: 10px;
    }
  }
}

::ng-deep .mat-mdc-menu-panel {
  background-color: white !important;
}