.publish-container {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  padding: 1em 1em 1em 1em;
  background-color: #f8f8f8;

  .publish-form {
    display: flex;
    flex-direction: column;

    .row {
      position: relative;
      display: flex;
      flex-direction: column;
      border-bottom: 1px dotted #9d9d9d;
      padding: 25px 0;
      background-color: #fff;
      margin-bottom: 10px;
      width: 100%;

      .route {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        .from-to {
          flex: 1;
        }
      }

      .number-seats-icons {

        mat-icon {
          font-size: 2.4rem;
          width: 40px;
          height: 40px;
          cursor: pointer;
          color: #51688f;
        }

        .seats {
          border: none;
          text-align: center;
          font-size: 1.6rem;
          background: none;
          width: 150px;
        }
      }

      .col-half {
        position: relative;
        float: left;
        width: 50%;
        text-align: center;

        .date-control-publish {
          text-align: center;
        }

        .car-input {
          font-size: 1rem;
          padding: 6px 5px;
          width: 80%;
        }

        .name-phone-input {
          font-size: 1rem;
          padding: 6px 5px;
          width: 70%;
        }
      }

      .mat-accordion {
        width: 90%;
        margin: 0 auto;

        h3 {
          font-size: 16px;
          margin: 10px;
        }

        .text-area {
          width: 100%;
          border-radius: 4px;
          border: 1px solid rgb(191, 189, 202);
          padding: 8px;
          outline: rgb(191, 189, 202);
          resize: none;
          font-size: 14px;
        }
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }
}
.from-to-select {
  font-size: 1.2rem;
  width: 200px;
  border-radius: 6px;
  border: 1px solid rgb(179, 179, 179);
  outline: none;
  text-align: center;
  padding: 4px 0;
  background: #f1f1f1;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:hover {
    border: 1px solid rgb(169, 196, 171);
  }
}

@media screen and (max-width: 620px) {

  .publish-container {
    padding: 0;
    margin: 16px 0;

    .publish-form {
      .row {
        padding: 20px 0;
        .col-half {
          width: 100%;

          .date-control-publish {
            .from-to-select {
              width: 270px;
              margin-bottom: 18px;
            }
          }

          .price-control-publish {
            .from-to-select {
              margin-bottom: 20px;
            }
          }

          .name-phone-input {
            &.name {
              margin-bottom: 20px;
            }
          }
        }

        h3 {
          margin-bottom: 14px;
        }
      }
    }
  }

  .from-to-select {
    font-size: 1rem;
    width: 150px;
  }

  .number-seats-icons {

    mat-icon {
      font-size: 2rem;
      width: 30px;
    }

  }
  
}