@use '@angular/material' as mat;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shantell+Sans:wght@800&display=swap");

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.datepicker-overrides((
    calendar-date-selected-state-background-color: rgb(38, 148, 238),
    calendar-date-hover-state-background-color: rgb(172, 210, 241)
  ));
}

body {
  background-color: #f2f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.top-66 {
  position: relative;
  top: 66px;
}

.df {
  display: flex;
}

.df-dc {
  display: flex;
  flex-direction: column;
}

.jcc-aic {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 20px;
  font-weight: 450;
}

.submit-btn {
  margin: 0 auto;
  margin-top: 20px;

  .submit-btn-content {
    border: 1px solid rgb(38, 148, 238);
    background-color: rgb(38, 148, 238);
    color: #fff;
    padding: 7px 17px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;

    &:hover {
      background-color: rgb(67, 162, 240);
    }
  }
}

@media screen and (min-width: 768px) {
  .mat-btn-icon {
    display: none;
  }
}