.top-content {
  width: 100%;

  .banner-content {
    position: relative;
    display: flex;
    background-color: rgb(15, 96, 120);
    background-image: url("../../assets/pattern4_1.png");
    position: relative;
    align-items: center;
    background-blend-mode: multiply;
    height: 300px;
    min-height: 50px;
    width: 100%;

    .banner-inner {
      position: relative;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-around;
      margin: 0 auto;
      height: 100%;
      width: 1030px;

      .form-field {
        position: relative;
        width: 100%;
        padding: 0 20px;
      }

      .title {
        position: relative;
        font-size: 48px;
        color: #fff;
        font-weight: 500;
        padding: 0 10px;
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 740px) {

  .top-content {
    .banner-content{
      .banner-inner {
        .title {
          font-size: 30px;
          margin: 60px 0;
        }
        .form-field {
          padding: 0 10px;
        }
      }
    }
  }

}